$main-color: #4caf50;
$main-color-hover: hsl(hue($main-color), saturation($main-color), lightness($main-color) + 10); // 56%
$dark-color: #000;
$light-color: #fff;
$border-color: #eee;
$bgc: #eee;

$facebook-bg: #3b5998;
$twitter-bg: #55acee;
$google-plus-bg: #dd4b39;