$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$icon-w: 22px;
$logo-w: 200px;
$banner-top-w: 620px;
$header-search-w: 220px;
$menu-link-h: 50px;
$menu-child-w: 250px;
$menu-icon-w: 24px;
$social-icon-w: 32px;
$social-icon-big-w: 48px;
$block-h: 80px;

$news-cover-w: 48px;
$proj-cover-w: 200px;
$contact-icon-w: 32px;

$scroll-button-w: 40px;