.product {
    position: relative;  
    
    .box-hack {
        margin-top: 100%;
    }

    .box-content {
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        background: #f42;
        z-index: 2;
    }
}