.category-container {
    height: 316px;
    background: #fff;
    border-top: 1px solid #eee;
}

.pos-cart-container {
    height: calc(100% - 372px);
    overflow: auto;   
}

.categories {   
    overflow-y: auto;
    min-width: 124px;
    background: #fff;

    .category {  
        display: block;
        height: 100px;
        width: 100px;
        background: $main-color;
        padding: 8px;
        position: relative;

        + .category {
            margin-top: 8px;
        }

        .category-image {
            display: block;
            max-width: 100%;    
        }
        
        .category-name {
            position: absolute;
            bottom: 0;    
            left: 0;
            width: 100%;
            text-align: center;
            font-size: .8em;
            text-transform: uppercase;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
            color: #fff;
            padding: 4px 0;
            padding-top: 24px;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            transition: .6s ease;
        }
        
        &:hover {
            .category-name {
                background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
            }
        }
    }
}

.products {
    .product {        
        display: block;
        // max-width: calc(100% / 9);
        min-width: calc(100% / 9);
        min-height: 150px;
        // margin: 0 16px 16px 0;
        background: #fff;    
        text-decoration: none;
        transition: .6s ease-out;
        border-radius: 3px;

        &:hover {
            box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
            transform: translateY(-8px);
            z-index: 2;
        }

        .product-image {
            max-width: 100%;
        }
        
        .product-name {           
            display: block;
            // white-space: nowrap;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            font-size: .8em;
            color: #fff;
            padding: 4px 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);            
            display: flex;
            align-items: flex-end;
            right: 0;
            flex-wrap: nowrap;
            transition: .6s ease;
        }
        
        &:hover {
            .product-name {
                background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
            }
        }

        .box-content {
            padding: 16px;
        }
    }
}

.cart-item {   
    display: flex;
    align-items: center;
    padding: 16px 8px;
    background: hsl(0, 0%, 96%);

    label {
        margin: 0;
    }

    .i-name {
        flex: 1;
        padding-left: 100px;
    }
    
    .i-check {
        .i-check-label {
            display: flex;
            align-items: center;
        }

        .i-check-input {
            margin: 0 16px;
            margin-bottom: 2px;
        }
    }
    
    .i-total {
        margin-left: 50px;
    }
    
    .i-price {
        margin-left: 50px;
    }

    .i-warning {
        color: #f42;
    }

    .i-qty {
        .qty-input {
            max-width: 60px;
        }

        .qty-button {
            background: transparent;
            opacity: 0;
            background: rgba(0, 0, 0, .1);

            &:hover {
                background: rgba(0, 0, 0, .2);
            }
        }
    }
    
    + .cart-item {
        border-top: 1px solid #eee;
    }

    &:nth-child(2n) {
        background: #fff;
    }

    &:hover {
        background: #edf6e4;

        .qty-button {
            opacity: 1;
        }
    }
}